# pyc files
*.pyc
# tar-balls and compressed files
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.zip
# checksum
*.sha1
# httpd binary installation directory
install/
# php installation directory
install-php/
# httpd code base
httpd-*/
# php code base
php-*/
# mongoose code base
mongoose-*/
# mongoose binary installation directory
mongoose/mongoose
# mongoose configuration file
mongoose/mg.conf
# xz code base
xz-*/
# tar code base
tar-*/
# xz installation directory
install-xz/
# tar installation directory
install-tar/
# mysql code base
mysql-*/
# mysql installation directory
install-mysql/
# mysql configuration file
mysql/my.cnf
# sysbench code base
sysbench-*/
# sysbench installation directory
install-sysbench/
# tests configuration
*-tests-config.json
# temporary files
tmp/
